.faq-section {
  background: #fdfdfd;
  margin-top: 40px !important;
  width: 80%;
  margin: auto;
  .faq-title p {
    padding: 0 190px;
    margin-bottom: 10px;
  }

  .faq {
    background: #ffffff;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
    border-radius: 4px;
  }

  .faq .card {
    border: none;
    background: none;
    border-bottom: 1px dashed #cee1f8;
  }

  .faq .card .card-header {
    padding: 0px;
    border: none;
    background: none;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .faq .card .card-header .faq-title {
    margin: 0;
    padding: 20px;
    padding-left: 10px !important;
    width: 100%;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
    color: #3b566e;
    text-decoration: none !important;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
  }

  .faq .card .card-header .faq-title .badge {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 14px;
    float: left;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    text-align: center;
    background: #e91e63;
    color: #fff;
    font-size: 12px;
    margin-right: 10px;
  }

  .faq .card .card-body {
    padding: 10px;
    font-weight: 400;
    font-size: 16px;
    color: #6f8ba4;
    line-height: 28px;
    letter-spacing: 1px;
    border-top: 1px solid #f3f8ff;
  }

  .faq .card .card-body p {
    margin-bottom: 14px;
    text-align: left;
  }

  @media (max-width: 991px) {
    .faq {
      margin-bottom: 30px;
    }
    .faq .card .card-header .faq-title {
      line-height: 26px;
      margin-top: 10px;
    }
  }
}
