#footer{
    text-align: center;
    margin-bottom: 5px;
    margin-top: 20px;
    width: 100%;

    a{
        color: rgb(47, 47, 255);
        cursor: pointer;
        text-decoration: none;
    }
}